*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    max-width: 750px;
    min-width: 350px;
    font-size: 15px;
    padding-bottom: 100px;
    background-color: #f2f2f2;
}
// 头部区域
.box{
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    a{
        font-size: 20px;
    }
    b{
        font-size: 18px;
    }
    span{
        font-size: 18px;
        color: #3dd4a7;
    }
}
// 第一模块
.box1{
    width: 100%;
    padding-left: 18px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    background-color: #fddb78;
}
// 第二模块
.box2{
    width: 100%;
    .box2-1{
        height: 80px;
        font-size: 19px;
        padding-left: 18px;
        line-height: 80px;
    }
    .box2-2{
        width: 90%;
        // height: 290px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        ul{
            width: 100%;
            li{
                display: flex;
                padding: 10px 25px;
                font-size: 18px;
                span{
                    color: #666;
                }
                a{
                    padding-left: 50px;
                }
            }
        }
    }
}
// 底部
.box3{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    div{
        height: 50px;
        width: 37%;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
    }
    .box3-1{
        color: red;
        border: 2px solid red;
    }
    .box3-2{
        color: #fff;
        background-color: #3dd4a7;
    }
}