*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    max-width: 750px;
    min-width: 350px;
    font-size: 15px;
    background-color: #f2f2f2;
}
// 头部区域
.box{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 10px;
    font-size: 25px;
    line-height: 50px;
    background-color: #fff;
    justify-content: space-between;
}
// 主题内容
.box1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .p1{
        width: 50px;
        height: 50px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        background-color: rgb(48, 148, 115);
    }
    .p2{
        margin: 20px;
        font-size: 23px;
    }
    .p3{
        color: #666;
        font-size: 17px;
    }
}
// 底部按钮
.box2{
    width: 90%;
    height: 50px;
    color: #fff;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
    background-color: rgb(48, 148, 115);
}
.box3{
    width: 90%;
    height: 50px;
    color: rgb(48, 148, 115);
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid #666;
}